body
{
  background-color: #212121;
  color: white;
}

#blocks
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.block
{
  margin: 20px;
  padding: 30px;
  background-color: #FF8A00;
  transition: background-color 0.4s;
}

.block:hover
{
  background-color: #E8610C;
}


#checkUpdates
{
  background-color: #FF8A00;
  text-align: center;
  padding: 10px;
  margin: 20px;
  transition: background-color 0.4s;
}

#checkUpdates:hover
{
  background-color: #E8610C;
