body
{
  background-color: #212121;
  color: white;
}

#blocks
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.block
{
  margin: 5px;
  padding: 10px;
  background-color: #8e44ad;
  transition: 0.2s;
}

.block:hover
{
  background-color: black;
}
